/***********************************
Основные стили для контейнера видео
 **********************************/

.video-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 600px;
  max-width: 1024px;
  margin: 50px auto;
}

/**************************************************
Стили для видео блоков
 *************************************************/

.video-container-item {
  position: relative;
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}

.video-container-item video {
  width: 100%;
  height: 100%;
}

.video-container-item .video-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


/**************************************************
Стили для контролов
 *************************************************/

.video-controls {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: absolute;
  height: 100px;
  align-items: center;
  bottom: 0;
  padding: 0 20px;
  justify-content: space-between;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  z-index: 2;
  color: white;
}

.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-toggle .filter-name {
  margin-right: 10px;
}

.volume-bar {
  overflow: hidden;
  height: 90px;
}

@media screen and (max-width: 900px) {
  .video-controls {
    transform: scale(0.8);
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .video-container {
    height: 470px;
  }
}

@media screen and (max-width: 700px) {
  .video-container {
    height: 410px;
  }
}

@media screen and (max-width: 600px) {
  .video-container {
    height: 350px;
  }
  .video-controls {
    transform: scale(0.6) translateX(-20%) translateY(33%);
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .video-container {
    height: 290px;
  }
}

/**************************************************
Стили для анимации видео блоков
 *************************************************/

.z-index-1 {
  z-index: 1;
}

.video-open.video-container-item {
  transition: all 0.2s linear;
}

.video-open .video-controls {
  display: flex;
}

.video-open.video-container-item:nth-child(2n) {
  transform: scale(2) translateX(-25%) translateY(25%);
}

.video-open.video-container-item:nth-child(2n+1) {
  transform: scale(2) translateX(25%) translateY(-25%);
}

.video-open.video-container-item:last-child {
  transform: scale(2) translateX(-25%) translateY(-25%);
}

.video-open.video-container-item:first-child {
  transform: scale(2) translateX(25%) translateY(25%);
}